/* z-index list */
/* stream: -3 */
/* stream img: -2 */
/* history: -2 */
/* history wrapper: -2 */
/* bets_item: -3 */
/* bets_item button: -4 */

@font-face {
    font-family: "MontserratMedium"; 
    src: url("../fonts/Montserrat-Medium.ttf"); 
    font-style: 400; 
    font-weight: 500; 
}
@font-face {
    font-family: "GeologicaBold"; 
    src: url("../fonts/Geologica-Bold.ttf"); 
    font-style: 400; 
    font-weight: bold; 
} 

ul {list-style-type:  none;padding: 0;margin: 0;}
button {border: none; outline: none; padding: 0;background:none}
li{text-align: center;}
body {
    background-color: #121212;
}
main {
    padding-bottom: 31vw;  /* Высота панели */
}

headers {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.cube svg {
    width: 5.85vw;
    height: 5.85vw;
    border-radius: 1.45vw;
}
.cube svg rect {
    fill: #FFFFFF;
}
.cube.blue svg {
    background-color: #559CFF;
}
.cube.red svg {
    background-color: #FF5959;
}
.cube.red.cube_history svg {
    background-color: #AA5858;
}
.cube.blue.cube_history svg {
    background-color: #5680BB;
}
.draw svg {
    width: 9.17vw;
    height: 3.3vw;
}
.coef {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.66vw;
    color: #FFFFFF;
}

.stream {
    width: 100%;
    position: relative;
    background-color: #121212;
    z-index: -3;
}
.stream_wrapper {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}
.stream_full-screen .stream_wrapper {
    width: 100%;
}
.stream video {
    width: 100%;
}
.stream img {
    position: relative;
    width: 100%;
    z-index: -2;
}

.history {
    position: relative;
    background-color: #121212;
    border-radius: 3.66vw;
    z-index: -2;
}
.history_wrapper {
    position: relative;
    width: calc(100% - 3.66vw - 3.66vw - 0.36vw);
    height: 12vw;
    padding-left: 3.66vw;
    padding-right: 3.66vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #1E1E1E;
    border: 0.18vw solid #8C8C8C;
    border-radius: 3.66vw;
    z-index: -1;
}
.history_list {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.history_element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.55vw;
}
.history_element svg{
    width: 5.85vw;
    height: 5.85vw;
    border-radius: 1.45vw;
}
.history_element svg rect {
    fill: #FFFFFF;
}
.history_element svg:nth-child(1) {
    background-color: #AA5858;
}
.history_element svg:nth-child(2) {
    background-color: #5680BB;
}


.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 3.66vw - 3.66vw);
    margin-left: 3.66vw;
    margin-right: 3.66vw;
    height: 5.5vw;
    margin-top: -2.25vw;
    background-color: #1E1E1E;
    border: 0.18vw solid #8C8C8C;
    border-radius: 3.66vw;
}
.status_line {
    height: 3.66vw;
    width: 89.9vw;
    border-radius: 3.11vw;
    background-image: linear-gradient(to right, #FD5761, #00E709);
}

.panel {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: calc(100% - 3.66vw - 3.66vw);
    height: calc(31vw - 2.56vw - 3.38vw);
    padding: 2.56vw 3.66vw 3.48vw 3.66vw;
    background-color: #1E1E1E;
    outline: 0.18vw solid #8C8C8C;
    border-radius: 3.66vw 3.66vw 0 0;
    border-width: 0.18vw 0 0 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.panel_bet-size_list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.66vw;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.panel_bet-size_element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.25vw;
    width: 16.14vw;
    background-color: #1E1E1E;
    border: 0.18vw solid #8C8C8C;
    border-radius: 1.83vw;
}
.panel_balance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color: #FFFFFF;
    width: 40%;
    height: 12.85vw;
}
.panel_buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 23.3vw;
    height: 12.85vw;
}
.panel_button {
    width: 50%;
    background-color: #1E1E1E;
    border: 0.18vw solid #8C8C8C;
    height: 12.85vw;
}
.panel_button_cancel-last svg{
    height: 4.22vw;
    width: 4.84vw;
}
.panel_button_cancel-all svg{
    height: 3.66vw;
    width: 3.66vw;
}
.panel_button_repeat svg{
    height: 3.85vw;
    width: 4.22vw;
}
.panel_button_double svg{
    height: 5.68vw;
    width: 4.77vw;
}
.panel_buttons .panel_button:nth-child(1) {
    border-radius: 3.66vw 0 0 3.66vw;
}
.panel_buttons .panel_button:nth-last-child(-n + 1) {
    border-radius: 0 3.66vw 3.66vw 0;
}


.bets_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 3.66vw;
    margin-top: calc(62.56vw + 1.83vw);
}
.bets_item {
    z-index: -3;
    width: calc(100% - 3.66vw - 3.66vw);
    padding: 1.83vw 3.66vw 3.66vw 3.66vw;
    background-color: #202020;
    border-radius: 1.83vw;
}
.bets_item button{
    z-index: -4;
}
.bets_item_title {
    padding: 0;
    margin: 0;
    margin-bottom: 2.75vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.75vw;
    color: #FFFFFF;
}

.higher-number {
}
.higher-number_blocks {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.91vw;
}
.higher-number_list {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.higher-number_list li {
    width: 100%;
    outline: 0.18vw solid #8C8C8C;
}
.higher-number_list li:nth-child(1) {
    border-radius: 1.83vw 0 0 1.83vw;
}
.higher-number_list li:nth-last-child(-n + 1) {
    border-radius: 0 1.83vw 1.83vw 0;
}
.higher-number_item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    padding: 2.38vw 2.75vw 2.38vw 2.75vw;
}
.higher-number_item .higher-number_item_active {
    padding-right: 1.83vw;
}
.higher-number_info {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.91vw;
    margin-right: auto;
}
.higher-number_coef {
    margin-left: auto;
}
.higher-number_info .cube svg{
    width: 4.58vw;
    height: 4.58vw;
    border-radius: 0.73vw;
}
.higher-number_info_and svg {
    width: 0.91vw;
    height: 2.38vw;
}

.bet-size {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    color: #FFFFFF;
    background-color: #1FBA6E;
}
.exact-number .bet-size {
    position: absolute;
    top: -2.2vw;
    width: 9.33vw;
    height: 4.56vw;
    border-radius: 2.07vw;
    box-shadow: 0 0.36vw 0.73vw 0 rgba(0,0,0,0.5);
}
.higher-number .bet-size {
    order: 2;
    width: 7.52vw;
    height: 4.03vw;
    border-radius: 0.55vw;
    margin-left: 0.91vw;
}

.exact-number_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2.93vw;
}
.exact-number_coef {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5vw;
    width: 11vw;
    border-radius: 1.83vw;
    outline: 0.18vw solid #8C8C8C;
    background-color: #202020;
}
.exact-number_coef_info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.2vw;
    color: #FFFFFF;   
}
.exact-number_blocks {
    display: flex;
    flex-flow: column nowrap;
    gap: 3.66vw;
    width: 100%;
}
.exact-number_block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.exact-number_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 5.62vw;
}
.exact-number_block_blue .exact-number_block-title svg path.bcc {
    fill: #559CFF;
}
.exact-number_block_red .exact-number_block-title svg path.bcc {
    fill: #FF5959;
}
.exact-number_block-title svg {
    width: 7.51vw;
    height: 6.1vw;
}
.exact-number_item {
    position: relative;
    width: 9.35vw;
    height: 9.35vw;
}
.exact-number_item svg {
    height: 100%;
    width: 100%;
    outline: 0.18vw solid #8C8C8C;
    background-color: #202020;
}
.exact-number_block_blue .exact-number_item.exact-number_item_active svg {
    outline: none;
    background-color: #559CFF;
}
.exact-number_block_red .exact-number_item.exact-number_item_active svg {
    outline: none;
    background-color: #FF5959;
}

.total-ml {

}
.total-ml_blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.total-ml_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.20vw;
    width: 100%;
}
.total-ml_item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.total-ml_coef {
    width: 39.26vw;
    height: 10.45vw;
    padding-left: 2.75vw;
    padding-right: 2.75vw;
    background-color: #121212;
    outline: 0.18vw solid #8C8C8C;
    border-radius: 1.83vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.66vw;
    color: #FFFFFF;
}
.total-ml_total-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.66vw;
    color: #FFFFFF;
}