body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f5f5;
}

.container {
  padding: 10px;
  padding-bottom: 120px;
}

.cards_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  
  background: white;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

.card-product__pic {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* или cover — зависит от задачи */
}

.title {
  margin-top: auto;
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 8px; */
}
.teh_name {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  margin-bottom: 8px;
}

.row_list {
  margin-top: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 4px;
}

.label {
  font-weight: 600;
}

.value {
  color: #555;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  flex: 1;
  margin: 0 4px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.success {
  background: #e7f9ed;
  color: #00a651;
}

.edit {
  background: #f1f1f1;
}

.danger {
  background: #fdeaea;
  color: #ff3b30;
}

.finish-btn {
  position: fixed;
  bottom: 20px;
  left: 16px;
  right: 16px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background: #ff4d4f;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(255,77,79,0.4);
}